# Importing Libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [21]:
#set path
path = r'/Users/kurtson/Desktop/Instacart Basket Analysis'

### In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [7]:
# import merged dataset
ords_prods_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

### Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [8]:
#check shape
ords_prods_comb.shape

(32434489, 11)

In [26]:
prods.shape

(49677, 6)

In [16]:
#import product data set
prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_consistency_checked.csv'), index_col=False)

In [19]:
ords_prods_comb.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [20]:
prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

### Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [27]:
#merging using product_id. Indicator false as the previous data set already is using that indicator
ords_prods_merged = ords_prods_comb.merge(prods, on = 'product_id', indicator = False)

In [30]:
#running a check
ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0

In [31]:
#checking shape
ords_prods_merged.shape

(32406041, 16)

In [32]:
#exporting using pkl
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))