# Import Libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/kurtson/Desktop/Instacart Basket Analysis'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))

In [4]:
df = ords_prods_merge[:1000000]

In [33]:
df.shape

(1000001, 18)

In [30]:
# Define a function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [31]:
# Apply the function
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/x4/jtz3tc8x5rl3dh05yzn63jq00000gp/T/ipykernel_40838/902492192.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [32]:
df['price_range'].value_counts(dropna=False)

price_range
Mid-range product    756450
Low-range product    243550
Not enough data           1
Name: count, dtype: int64

In [34]:
df['prices'].max()

14.8

In [35]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [36]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [37]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [38]:
df['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product    756450
Low-range product    243550
NaN                       1
Name: count, dtype: int64

In [40]:
#find for ords_prods_merge
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [41]:
ords_prods_merge.loc[(df['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [ ]:
ords_prods_merge.loc[(df['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Low-range product'

In [ ]:
ords_prods_merge['price_range_loc'].value_counts(dropna=False)

In [19]:
# find frequency
ords_prods_merge['order_dow'].value_counts(dropna=False)

order_dow
0    6204404
1    5660456
6    4496635
2    4213986
5    4205906
3    3840701
4    3783953
Name: count, dtype: int64

In [20]:
result = []

for value in ords_prods_merge["order_dow"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [21]:
 ords_prods_merge['busiest_day'] = result

In [22]:
# find frequency of busiest_day

ords_prods_merge['busiest_day'].value_counts(dropna=False)

busiest_day
Regularly busy    22417684
Busiest day        6204404
Least busy         3783953
Name: count, dtype: int64

# Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [43]:
#find frequency
ords_prods_merge['order_dow'].value_counts(dropna=False)

order_dow
0    6204404
1    5660456
6    4496635
2    4213986
5    4205906
3    3840701
4    3783953
Name: count, dtype: int64

In [44]:
# create shell
result2 = []

In [63]:
#create new labels

for value in ords_prods_merge['order_dow']:
  if value == 0 or value == 1:
    result2.append('Busiest days')
  elif value == 4 or value == 3:
    result2.append('Slowest days')
  else:
    result2.append('Regular days')

In [64]:
# creating 'busiest days' column

ords_prods_merge['Busiest_days']= result2

In [65]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,busiest_day,Busiest_days
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,Regularly busy,Regular days
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Slowest days
2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Slowest days
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,Least busy,Slowest days
4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,Least busy,Slowest days

# Check the values of this new column for accuracy. Note any observations in markdown format.

In [67]:
ords_prods_merge['Busiest_days'].value_counts(dropna = False)

Busiest_days
Regular days    12916527
Busiest days    11864860
Slowest days     7624654
Name: count, dtype: int64

  # When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [79]:
#find frequency
ords_prods_merge['order_hour_of_day'].value_counts(dropna=False)

order_hour_of_day
10    2761862
11    2736242
14    2689251
15    2662246
13    2661057
12    2618613
16    2535313
9     2454273
17    2087721
8     1718182
18    1636566
19    1258352
20     976182
7      891082
21     795658
22     634247
23     402335
6      290500
0      218786
1      115706
5       87964
2       69377
4       53245
3       51281
Name: count, dtype: int64

#### grouping hoursinto (most orders =  10,11,14,15,13,12,16,9) (least orders =23,6,0,1,5,2,4,3) (average = 17,8,18,19,20,7,21,22)

In [80]:
#create shell
hour_of_day = []

In [82]:
for value in ords_prods_merge["order_hour_of_day"]:
  if value in [10, 11, 14, 15, 13, 12, 16, 9]:
    hour_of_day.append("Most orders")
  elif value in [23, 6, 0, 1, 5, 2, 4, 3]:
    hour_of_day.append("Fewest orders")
  else:
    hour_of_day.append("Average orders")

In [83]:
#add column for 'busiest_period_of_day'
ords_prods_merge['busiest_period_of_day'] = hour_of_day

In [87]:
#check
ords_prods_merge['busiest_period_of_day'].head(20)

0     Average orders
1     Average orders
2        Most orders
3     Average orders
4        Most orders
5     Average orders
6        Most orders
7        Most orders
8        Most orders
9     Average orders
10       Most orders
11       Most orders
12       Most orders
13       Most orders
14       Most orders
15       Most orders
16       Most orders
17    Average orders
18       Most orders
19    Average orders
Name: busiest_period_of_day, dtype: object

In [88]:
ords_prods_merge['busiest_period_of_day'].value_counts(dropna=False)

busiest_period_of_day
Most orders       21118857
Average orders     9997990
Fewest orders      1289194
Name: count, dtype: int64

In [89]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_updated.pkl'))